<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


   {{>navbar}}


    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">


                    <!-- left side -->

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/bg3.png" alt="" width="100%">
                        </figure>    
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hey , Myself <span class="txt_color">Arindam Dey</span></p>
                        <p>Hi, I am Arindam Dey, a second year undergraduate student at Jadavpur University (Information technology department) . I am a skill oriented person, with an interest in coding and development.
I am keenly interested towards full stack web technologies and it has been quite some time I am on my journey of learning MERN stack for full stack web development. Apart from HTML , CSS and JavaScript , I have also explored both react JS and node JS and have worked with them.
Also, I am into C++ which is my language of preference for CP and for solving DSA based questions.
<br>
I like exploring new technologies and love making use of them in building softwares which might be of great general use for the common cause of people. 
Finding love in work has always been my key nature. Also, I am a guitarist with it being one of my favourite hobbies.</p>
                        <a href="https://exam.codechef.com/users/aarindey"><button class=""> Codechef </button></a>
                        <a href="https://leetcode.com/itsmeaarin/"><button class=""> Leetcode </button></a>
                        <a href="https://codeforces.com/profile/aarindey"><button class=""> Codeforces </button></a>
                    </div>


                    <!-- right side -->
                    

                </div>
            </div>
        </div>
    </div>

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    {{>footer}}
</body>
</html>